
@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css");
.react-select-country {
  & > div {
    width: 200px;
    min-height: 42px;
    font-size: 16px;
  }
}
